/*padronização para TODOS os elementos*/
* {
    color: #ffffff; /*cor da letra(fonte)*/
    font-family: 'Segoe UI', 'Roboto';
}

/*estilizando o body*/
body {
    background-color: #1a0c2b; /*cor de fundo*/
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.titulo-principal {
    font-size: 100px;
}

.titulo-principal span{
    color: #F34DA9;
}

.container-home {
    display: flex; /*permite movimentar os elementos*/
    align-items: center; /*centraliza verticalmente*/
    justify-content: space-between;
}

.container-home img {
    width: 20%; /*largura*/
    height: 20%; /*altura*/
}

.titulo-secundario{
    font-size: 35px;
}

.menu{
    margin-top: 50px;
}

.menu a{
    text-decoration: none;
    font-size: 25px;
    border-left: #F34DA9 3px solid;
    padding: 0 15px;
}

.menu a:first-child{
    border: none;
    padding-left: 0;
}
